#about-project{
    color: rgb(57, 57, 57);
    font-size: 200%;
    font-weight: 600;
}

#first-info{
    font-style: italic;
    font-size: 150%;
}

#second-info{
    font-style: italic;
    font-size: 100%;
    color: rgb(92, 92, 92);
}

#contact-information{
    font-style: italic;
    font-size: 150%;
}

.contact-info-cp{
    /* color: rgb(54, 30, 84); */
    font-size: 300%;
    margin: 5%;
    padding: auto;
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}

.contact-info-cp:hover{
    color: rgb(252, 216, 170);
    cursor: pointer;
}