

.registration-login-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .registration-form,
  .login-form {
    width: 45%; /* Adjust the width as needed */
  }
  
  body {
    background-color: rgb(47, 23, 78);
    color: aliceblue;
  }

