#no-properties{
    font-size: 300%;
    color: rgb(73, 4, 82);
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}