.registration-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.background-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 45%;
}

.toggle-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.headmain-image { 
  width: 100%;
  }
  
  .main-content {
    position: relative;
  }
  
  .background-image {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    object-fit: cover;
  }

  h1{
    font-size: 50px;
    color: rgb(73, 4, 82);
    text-align: center;
  }

  h2{
    font-size: 30px;
    color: rgb(73, 4, 82);
    text-align: center;
  }