.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: rgb(54, 30, 84);
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    position: relative;
    animation: slide-down 300ms ease-out forwards;
    justify-items: center;
    align-items: center;
  }
  
  .toggle-button {
    /* background: rgba(45, 45, 45);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer; */
  }
  
  .open-modal-button {
    background:rgba(45, 45, 45);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* position:relative; */
    top: 10px;
    
  }
  