.search {
    max-width: 800px;
    margin: 0 auto;
    padding: 20spx;
}

.search-h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(54, 30, 84);
    font-size: 150%;
}

.search-input{
    width: 100%;
    padding: 2%;
    margin-bottom: 20px;
    border: 2px inset rgb(54, 30, 84);
    border-radius: 5px;
    font-size: 100%;
    align-self: center;
}

.user-profile-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-size: 150%;
}